<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Перечень людей</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<!--<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>-->
<div class="page-header">
    <h1>Здесь будет перечень людей</h1>
</div>
<ul class="list-group">
    <li class="list-group-item" th:each="p:${people}">
        <span  th:text="${p.firstName}+' '+${p.lastName}"></span>
        <span class="badge" th:text="${p.id}">10</span>
    </li>
</ul>
</body>
</html>